<template name="followUsers">
  {{#if currentUser}}
  <div class="follow-container">
    <div class="panel panel-default followBox">
      <div class="panel-body">
        <!-- 1) Input box for user to follow -->
        <form class="form-inline">
          <input type="text" class="form-control" id="searchUser" placeholder="Search for user">
          <button type="submit" class="btn btn-info">Search</button>
        </form>

        <!-- 2) Display box found through search, using info retrieved from server-->
        {{#if foundUser}}
        <div class="found-user">
          <button type="button" class="btn btn-default" id="follow">Follow @{{foundUser.username}}</button>
        </div>
        {{/if}}

        <!-- 3) List of people to follow -->
        <div class="recommend-users">
          <h5>Who to follow:</h5>
          <!-- recommendedUsers is a helper method returning an array of content -->
          {{#each recommendedUsers}}
          <!-- use this to refer to context in the each-for loop -->
          <p><button type="button" class="btn btn-default" id="followRec">Follow @{{this.username}}</button></p>
          {{/each}}
        </div>

        <div class="following">
          <h5>Following:</h5>
          {{#each currentFollowings}}
            <span>{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>
